esult
Source map
Restructure
Beautify
@charset "utf-8";

*,html {
	box-sizing: border-box
}

* {
	outline: medium
}

html {
	height: 100%
}

body {
	background-color: #fff;
	color: #333;
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin: 0;
	min-height: 100%;
	position: relative
}

h1,h2,h3,h4,h5,h6,ol,p,ul {
	margin: 0;
	outline: medium;
	padding: 0
}

img {
	display: block;
	height: auto
}

iframe,img {
	max-width: 100%
}

a:focus,a:hover {
	outline: medium
}

.clear {
	clear: both
}

p {
	line-height: 23px
}

p+p {
	padding: 10px 0
}

.pt-20 {
	padding-top: 15px
}

.mb-20 {
	margin-bottom: 20px
}

.mt-20 {
	margin-top: 20px
}

.lead {
	font-size: 16px;
	letter-spacing: .5px
}

.list {
	margin: 15px 0
}

.list li {
	list-style: none;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px
}

.list li:before {
	content: "\f138";
	font-family: 'FontAwesome';
	color: #5a5a5a;
	position: absolute;
	top: 0;
	left: 0
}

blockquote {
	border-left: 5px solid #ccc;
	padding-left: 16px;
	font-weight: 300;
	font-style: italic;
	margin-top: 15px
}

.red {
	color: red
}
.pt-0 { padding-top: 0; }
.blog-img img,.btn,.links,.links i,.message .thumbimg img,.mid-header .btn,.project .project_img img,.transition {
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s
}

@-webkit-keyframes criss-cross-left {
	0% {
		left: -20px
	}

	50% {
		left: 50%;
		width: 20px;
		height: 20px
	}

	to {
		left: 50%;
		width: 375px;
		height: 375px
	}
}

@keyframes criss-cross-left {
	0% {
		left: -20px
	}

	50% {
		left: 50%;
		width: 20px;
		height: 20px
	}

	to {
		left: 50%;
		width: 375px;
		height: 375px
	}
}

@-webkit-keyframes criss-cross-right {
	0% {
		right: -20px
	}

	50% {
		right: 50%;
		width: 20px;
		height: 20px
	}

	to {
		right: 50%;
		width: 375px;
		height: 375px
	}
}

@keyframes criss-cross-right {
	0% {
		right: -20px
	}

	50% {
		right: 50%;
		width: 20px;
		height: 20px
	}

	to {
		right: 50%;
		width: 375px;
		height: 375px
	}
}

.header-top {
	background-color: #0f1e4c;
	color: #dfe3f4
}

.header-top ul {
	letter-spacing: -6px
}

.header-top ul li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	color: #ffd45b;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 1px
}

.header-top ul li span {
	margin-right: 6px
}

.header-top ul li a {
	color: #fff;
	display: block
}

.header-top ul.social-links li {
	padding: 0;
	letter-spacing: 0
}

.header-top ul.social-links li a {
	border-left: 1px solid #18295d;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px
}

.header-top ul li:hover {
	color: #fff
}

.header-top ul.social-links li a:hover {
	background-color: #fbba05;
	color: #fff
}

.mid-header {
	padding: 5px 0;
	background-color: #f1f1f1
}

.logo,.mid-header .btn i {
	width: 279px;
	display: inline-block;
	vertical-align: middle
}

.list li,.logo a {
	display: block
}

.mid-header .btn,.mid-header h2 {
	display: inline-block;
	font-size: 38px;
	font-weight: 700;
	margin-left: 21px;
	color: #1c3583
}

.mid-header .btn {
	background-color: #fbba05;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0;
	border: 0;
	border-bottom: 5px solid #e2a600;
	margin-left: 10px;
	padding: 7px 15px;
	vertical-align: middle;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	z-index: 2
}

.btn:after,.btn:before,.mid-header .btn:after,.mid-header .btn:before {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	background-color: #f47920;
	border-radius: 50%;
	z-index: -1
}

.btn:before,.mid-header .btn:before {
	left: -20px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

.btn:after,.mid-header .btn:after {
	right: -20px;
	-webkit-transform: translate(50%,-50%);
	transform: translate(50%,-50%)
}

.btn:hover {
	color: #e6e1e3
}

.btn:hover:after,.btn:hover:before,.mid-header .btn:hover:after,.mid-header .btn:hover:before {
	-webkit-animation: criss-cross-left .8s both;
	animation: criss-cross-left .8s both;
	-webkit-animation-direction: alternate;
	animation-direction: alternate
}

.btn:hover:after,.mid-header .btn:hover:after {
	-webkit-animation: criss-cross-right .8s both;
	animation: criss-cross-right .8s both
}

.mid-header .btn i {
	width: 24px;
	margin-right: 6px
}

.mid-header .donate-btn:hover,.mid-header .volunteer-btn {
	border-bottom: 5px solid #0c183e
}

.mid-header .volunteer-btn {
	background-color: #1c3583
}

.mid-header .btn:hover,.navbar-light .navbar-brand span {
	color: #fff
}

.navbar {
	background-color: #000!important;
	padding: 0 0 0 20px
}

.navbar-light .navbar-nav .active .nav-link,.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
	color: #f47920!important;
	background-color: transparent;
	border-bottom: 5px solid #f47920
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	padding: 15px 20px;
	position: relative;
	font-size: 14px
}

.navbar-light .navbar-brand {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 29px;
	padding: 13px 0;
	color: #f47920;
	letter-spacing: .5px
}

.navbar-light .navbar-brand:hover {
	color: #f47920
}

.navbar-nav .dropdown-menu {
	background-color: #f47920;
	border-radius: 0;
	padding: 0;
	width: 100%
}

.dropdown-menu .dropdown-item {
	white-space: inherit;
	border-bottom: 1px solid #ce6418;
	font-size: 13px;
	padding: 10px 15px;
	color: #402f01
}

.dropdown-menu .dropdown-item.active,.dropdown-menu .dropdown-item:active,.dropdown-menu .dropdown-item:focus,.dropdown-menu .dropdown-item:hover {
	color: #fff;
	background-color: #000
}

.dropdown-toggle::before {
	content: "";
	border-top: .3em solid #fff;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
	margin-top: 1px
}

.dropdown-toggle::after,.navbar-light .navbar-nav .nav-link:hover:after {
	border-top: .3em solid #000
}

.dropdown-toggle::after,.dropdown-toggle::before {
	position: absolute;
	top: 46%;
	right: 0
}

.navbar-light .navbar-nav .nav-link:hover:before {
	border-top: .3em solid #f47920
}

.navbar-light .navbar-nav .login a {
	background-color: #f47920;
	padding: 18px 30px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px
}

.navbar-light .navbar-nav .login a i {
	margin-right: 5px
}

.navbar-light .navbar-nav .login a:hover {
	border-bottom: none;
	background-color: #f47920;
	color: #fff!important
}

.carousel-item {
	max-height: 500px
}

.carousel-caption {
	text-align: center;
	bottom: 90px;
	margin: 0 auto
}

.btn,.carousel-caption h3 {
	text-shadow: 1px 1px 1px #000
}

.carousel-caption h3 {
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 60px;
	font-weight: 300;
	color: #000
}

.carousel-caption h3 span {
	font-weight: 300;
	color: #fff;
	display: block;
	font-size: 31px
}

.btn,.carousel-caption b {
	text-transform: uppercase;
	letter-spacing: 1px
}

.btn,.carousel-caption b,.carousel-caption p {
	font-size: 14px;
	color: #000
}

.btn {
	border: 0;
	color: #fff;
	background-color: #4cb8cd;
	border-radius: 0;
	font-size: 12px;
	font-weight: 700;
	padding: 15px 20px;
	display: inline-block;
	margin: 15px 0;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.btn:hover {
	border-color: #2d618a
}

.activities {
	position: relative;
	background: #000;
	background: -moz-linear-gradient(left,#000 50%,#f47920 50%);
	background: -webkit-linear-gradient(left,#000 50%,#f47920 50%);
	background: linear-gradient(to right,#000 50%,#f47920 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f47920',GradientType=1 )
}

.activities ul {
	letter-spacing: -5px
}

.activities ul li {
	width: 50%;
	padding: 20px 20px 20px 130px;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0;
	position: relative
}

.activities ul li a {
	text-transform: uppercase;
	background-color: #000;
	font-size: 12px
}

.activities ul li h3 {
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 7px
}

.activities ul li.first-activities {
	background-color: #fbba05
}

.activities ul li.second-activities {
	background-color: #1c3583
}

.activities ul li.third-activities {
	background-color: #fbba05
}

.activities ul li i {
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -40px;
	vertical-align: middle
}

.activities ul li.second-activities h3 {
	color: #fbba05
}

.act_item {
	padding: 20px 0 20px 66px;
	position: relative;
	cursor: pointer
}

.act_item .act_icon {
	font-size: 27px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
	background-color: #f47920;
	text-align: center;
	color: #fdfeff;
	position: absolute;
	top: 22px;
	left: 0
}

.act_item .act_content h3,.donate-wrapper h2 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 8px
}

.act_item .act_content h3 a,.links {
	text-decoration: none;
	color: #f47920
}

.act_item .act_content p,.message .message-txt p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical
}

.act_item .act_content p {
	color: #fff;
	max-height: 44px;
	-webkit-line-clamp: 2
}

.links {
	font-size: 13px;
	display: block
}

.activities ul li,.links i {
	display: inline-block;
	vertical-align: middle
}

.act_item:hover .links,.activities ul li a,.video-content a {
	text-decoration: none;
	color: #fff
}

.act_item:hover .links i {
	padding-left: 4px;
	color: #fff
}

.donate-wrapper {
	background-color: #f47920;
	position: relative
}

.donate-wrapper .act_content h3 a,.donate-wrapper a.btn:hover,footer small {
	color: #fff;
}
.donate-wrapper .act_icon {background-color: #6E767A;}
.donate-wrapper:after {
	content: ""
}

.donate-wrapper h2 {
	font-size: 21px;
	font-weight: 700;
	color: #000;
	margin-bottom: 3px
}

.donate-wrapper p {
	font-size: 15px;
	color: #fff
}

.donate-wrapper a.btn {
	padding: 6px 17px;
	margin: 17px 0 3px;
	border: 1px solid #277484;
	color: #fff;
	text-shadow: none;
	font-size: 12px;
	background-color: #4cb8cd
}

.donate-wrapper a.btn:after,.donate-wrapper a.btn:before,.title i {
	background-color: #1c3583;
	color: #fff
}
.donate-wrapper .links { color: #fff; }
.content {
	padding: 30px 0
}

.welcome_txt {
	/* background-color: #f1f1f1; */
	padding: 25px;
}

.welcome_txt h2 {
	font-size: 30px;
	font-weight: 300;
	/* text-transform: uppercase; */
	margin-bottom: 15px;
	line-height: 38px;
}

.welcome_txt h2 span {
	/* display: block; */
}

.welcome_txt p {
	line-height: 23px
}

.blog-title h2,.welcome_txt .btn {
	margin-bottom: 0
}
.primary-box {
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.advertise {
	margin: 25px 0 0 0;
}
.advertise img { width: 100%; }
.v-align-children {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.blogpost:hover .blog-img img,.message:hover .thumbimg img,.project:hover .project_img img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.yellow_bg {
	background-color: #fbba05
}

.title {
	margin-bottom: 20px
}

.activities ul li h3,.project h3 a,.title h3 {
	color: #f47920;
	font-weight: 700;
}

.title h3 {
	text-transform: uppercase;
	font-size: 20px;
}

.title i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 9px;
	text-align: center;
	font-size: 23px;
	overflow: hidden;
	text-shadow: 0 0 0 #14265f,-1px 1px 0 #14265f,-2px 2px 0 #14265f,-3px 3px 0 #14265f,-4px 4px 0 #14265f,-5px 5px 0 #14265f,-6px 6px 0 #14265f,-7px 7px 0 #14265f,-8px 8px 0 #14265f,-9px 9px 0 #14265f,-10px 10px 0 #14265f,-11px 11px 0 #14265f,-12px 12px 0 #14265f,-13px 13px 0 #14265f,-14px 14px 0 #14265f,-15px 15px 0 #14265f,-16px 16px 0 #14265f,-17px 17px 0 #14265f,-18px 18px 0 #14265f,-19px 19px 0 #14265f,-20px 20px 0 #14265f,-21px 21px 0 #14265f,-22px 22px 0 #14265f,-23px 23px 0 #14265f,-24px 24px 0 #14265f,-25px 25px 0 #14265f,-26px 26px 0 #14265f,-27px 27px 0 #14265f,-28px 28px 0 #14265f,-29px 29px 0 #14265f,-30px 30px 0 #14265f,-31px 31px 0 #14265f,-32px 32px 0 #14265f,-33px 33px 0 #14265f,-34px 34px 0 #14265f,-35px 35px 0 #14265f,-36px 36px 0 #14265f,-37px 37px 0 #14265f,-38px 38px 0 #14265f,-39px 39px 0 #14265f,-40px 40px 0 #14265f,-41px 41px 0 #14265f,-42px 42px 0 #14265f,-43px 43px 0 #14265f,-44px 44px 0 #14265f,-45px 45px 0 #14265f,-46px 46px 0 #14265f,-47px 47px 0 #14265f,-48px 48px 0 #14265f,-49px 49px 0 #14265f,-50px 50px 0 #14265f,-51px 51px 0 #14265f,-52px 52px 0 #14265f,-53px 53px 0 #14265f,-54px 54px 0 #14265f,-55px 55px 0 #14265f,-56px 56px 0 #14265f,-57px 57px 0 #14265f,-58px 58px 0 #14265f,-59px 59px 0 #14265f,-60px 60px 0 #14265f,-61px 61px 0 #14265f,-62px 62px 0 #14265f,-63px 63px 0 #14265f,-64px 64px 0 #14265f,-65px 65px 0 #14265f,-66px 66px 0 #14265f,-67px 67px 0 #14265f,-68px 68px 0 #14265f,-69px 69px 0 #14265f,-70px 70px 0 #14265f,-71px 71px 0 #14265f,-72px 72px 0 #14265f,-73px 73px 0 #14265f,-74px 74px 0 #14265f,-75px 75px 0 #14265f,-76px 76px 0 #14265f,-77px 77px 0 #14265f,-78px 78px 0 #14265f,-79px 79px 0 #14265f,-80px 80px 0 #14265f,-81px 81px 0 #14265f,-82px 82px 0 #14265f,-83px 83px 0 #14265f,-84px 84px 0 #14265f,-85px 85px 0 #14265f,-86px 86px 0 #14265f,-87px 87px 0 #14265f,-88px 88px 0 #14265f,-89px 89px 0 #14265f,-90px 90px 0 #14265f,-91px 91px 0 #14265f,-92px 92px 0 #14265f,-93px 93px 0 #14265f,-94px 94px 0 #14265f,-95px 95px 0 #14265f,-96px 96px 0 #14265f,-97px 97px 0 #14265f,-98px 98px 0 #14265f,-99px 99px 0 #14265f,-100px 100px 0 #14265f,-101px 101px 0 #14265f,-102px 102px 0 #14265f,-103px 103px 0 #14265f,-104px 104px 0 #14265f,-105px 105px 0 #14265f,-106px 106px 0 #14265f,-107px 107px 0 #14265f,-108px 108px 0 #14265f,-109px 109px 0 #14265f,-110px 110px 0 #14265f,-111px 111px 0 #14265f,-112px 112px 0 #14265f,-113px 113px 0 #14265f,-114px 114px 0 #14265f,-115px 115px 0 #14265f,-116px 116px 0 #14265f,-117px 117px 0 #14265f,-118px 118px 0 #14265f,-119px 119px 0 #14265f,-120px 120px 0 #14265f,-121px 121px 0 #14265f,-122px 122px 0 #14265f,-123px 123px 0 #14265f,-124px 124px 0 #14265f,-125px 125px 0 #14265f,-126px 126px 0 #14265f,-127px 127px 0 #14265f,-128px 128px 0 #14265f,-129px 129px 0 #14265f,-130px 130px 0 #14265f,-131px 131px 0 #14265f,-132px 132px 0 #14265f,-133px 133px 0 #14265f,-134px 134px 0 #14265f,-135px 135px 0 #14265f,-136px 136px 0 #14265f,-137px 137px 0 #14265f,-138px 138px 0 #14265f,-139px 139px 0 #14265f,-140px 140px 0 #14265f,-141px 141px 0 #14265f,-142px 142px 0 #14265f,-143px 143px 0 #14265f,-144px 144px 0 #14265f,-145px 145px 0 #14265f,-146px 146px 0 #14265f,-147px 147px 0 #14265f,-148px 148px 0 #14265f,-149px 149px 0 #14265f,-150px 150px 0 #14265f,-151px 151px 0 #14265f,-152px 152px 0 #14265f,-153px 153px 0 #14265f,-154px 154px 0 #14265f,-155px 155px 0 #14265f,-156px 156px 0 #14265f,-157px 157px 0 #14265f,-158px 158px 0 #14265f,-159px 159px 0 #14265f,-160px 160px 0 #14265f,-161px 161px 0 #14265f,-162px 162px 0 #14265f,-163px 163px 0 #14265f,-164px 164px 0 #14265f,-165px 165px 0 #14265f,-166px 166px 0 #14265f,-167px 167px 0 #14265f,-168px 168px 0 #14265f,-169px 169px 0 #14265f,-170px 170px 0 #14265f,-171px 171px 0 #14265f,-172px 172px 0 #14265f,-173px 173px 0 #14265f,-174px 174px 0 #14265f,-175px 175px 0 #14265f,-176px 176px 0 #14265f,-177px 177px 0 #14265f,-178px 178px 0 #14265f,-179px 179px 0 #14265f,-180px 180px 0 #14265f,-181px 181px 0 #14265f,-182px 182px 0 #14265f,-183px 183px 0 #14265f,-184px 184px 0 #14265f,-185px 185px 0 #14265f,-186px 186px 0 #14265f,-187px 187px 0 #14265f,-188px 188px 0 #14265f,-189px 189px 0 #14265f,-190px 190px 0 #14265f,-191px 191px 0 #14265f,-192px 192px 0 #14265f,-193px 193px 0 #14265f,-194px 194px 0 #14265f,-195px 195px 0 #14265f,-196px 196px 0 #14265f,-197px 197px 0 #14265f,-198px 198px 0 #14265f,200px 200px 0 transparent
}

.seperator {
	display: inline-block;
	position: relative
}

.seperator:after,.seperator:before {
	content: "";
	display: inline-block;
	background-color: #1c3583;
	position: absolute;
	width: 77%;
	height: 2px;
	top: 50%;
	left: -50px
}

.seperator:after {
	right: -50px;
	left: auto
}

.seperator .shape {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px;
	border: 1px solid #1c3583;
	background-color: transparent;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.project {
	background-color: #f1f1f1;
	cursor: pointer
}

.project .project_img {
	max-height: 265px;
	overflow: hidden
}

.project .project-content {
	padding: 15px 20px
}

.project h3 a {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	text-decoration: none
}

.project .Description {
	color: #272727;
	max-height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
}

.project-detail {
	cursor: auto;
	background-color: transparent
}

.project-detail .project_img {
	max-height: 420px
}

.project-detail .project_img img {
	width: 100%
}

.project-detail h3 {
	font-size: 17px;
	margin-bottom: 10px
}

.project-detail .project-content {
	padding: 15px 0
}

.project-detail:hover .project_img img {
	transform: none
}

.project-detail p {
	max-height: inherit;
	text-overflow: inherit;
	display: block;
	-webkit-line-clamp: inherit;
	-webkit-box-orient: inherit
}

.video {
	background: url(../img/56.jpg) no-repeat 0 center;
	padding: 150px 0;
	background-size: cover
}

.video-content {
	max-width: 400px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.63);
	padding: 70px 50px 40px;
	cursor: pointer
}

.project-detail h3,.video-content h3,footer h4 {
	text-transform: uppercase;
	font-weight: 700
}

.video-content h3 {
	color: #fff;
	line-height: 29px
}

.video-content p {
	font-size: 17px;
	color: #fff;
	margin-bottom: 20px
}

.video-content a {
	font-size: 60px
}

.blogpost {
	position: relative;
	overflow: hidden;
	cursor: pointer
}

.blogpost .blog-img {
	max-height: 200px;
	overflow: hidden
}

.blog-detail .blog-img img,.blog-img img {
	width: 100%!important
}

.blogpost .blogpost-body {
	position: relative;
	padding: 15px 10px 10px;
	border: 1px solid #ccc;
	border-top: none
}

.blogpost-body .post-info {
	text-align: center;
	color: #c1c1c1;
	line-height: 32px;
	display: inline-block;
	margin-right: 10px
}

.blogpost-body .post-info span,.donation-address li span,.sponsor_list ul li a,.title i,footer ul li {
	display: block
}

.blogpost-body .post-info span i {
	padding-right: 7px
}

.blogpost-body .post-info .day {
	font-size: 30px;
	font-weight: 700
}

.blogpost-body .post-info .month {
	line-height: 16px;
	padding: 3px 3px 6px
}

.blog-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 13px;
	font-size: 12px
}

.blog-title h2 {
	font-size: 16px;
	font-weight: 600
}

.blog-title h2 a,.video-content a:hover {
	text-decoration: none
}

.blog-title .submitted {
	margin-top: 5px;
	color: #b1b1b1;
	display: inline-block;
	font-style: italic
}

.blog-title .submitted i {
	padding-right: 0!important
}

.blog-title .submitted a {
	color: #b1b1b1;
	text-decoration: none
}

.blog-title .comment {
	display: inline-block;
	text-align: right;
	padding-left: 11px;
	margin-left: 10px;
	border-left: 1px solid #ccc
}

.blog-footer i,.blog-title .comment i {
	color: #fbba05
}

.blog-title .comment a {
	color: #fbba05;
	font-weight: 700;
	text-decoration: none
}

.Description,.blogpost-content p {
	max-height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
}

.blogpost-content p {
	max-height: 100px
}

.blog-footer {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 9px
}

.blog-footer ul li {
	list-style: none;
	vertical-align: middle
}

.blog-footer a {
	margin-bottom: 0;
	font-size: 12px
}

.blog-detail {
	cursor: auto
}

.blog-detail .blog-img {
	max-height: 420px
}

.blog-detail:hover .blog-img img {
	transform: inherit
}

.blog-detail h2,.blog-title h2 a {
	color: #0b142f;
	display: block
}

.blog-detail .blogpost-body {
	border: 0;
	padding: 15px 0
}

.blog-detail .blogpost-content p {
	text-overflow: inherit;
	max-height: inherit;
	display: block;
	-webkit-line-clamp: inherit;
	-webkit-box-orient: inherit
}

.contact-form form label {
	font-weight: 600;
	font-size: 13px
}

.contact-form form .form-control {
	border-radius: 0
}

.comments h2.title {
	margin-bottom: 30px;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 700
}

.comments .comment {
	font-size: 14px
}

.comments .comment .comment {
	margin-left: 75px
}

.comment-avatar {
	margin-top: 5px;
	width: 55px;
	float: left
}

.comment-content {
	margin-left: 75px;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 40px
}

.comments .comment h3 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: 600
}

.comments .comment-meta {
	margin-bottom: 15px;
	color: #999;
	font-size: 12px
}

.comments .comment-meta a {
	color: #666
}

.comments .comment-meta a:hover {
	text-decoration: underline
}

.comments .comment .btn {
	font-size: 12px;
	padding: 7px;
	min-width: 100px;
	margin-top: 5px;
	margin-bottom: 10px
}

.comments .comment .btn i {
	padding-right: 5px
}

.footer {
	background: #22272a
}

footer {
	padding: 30px 0 15px
}

footer .footer-content {
	border-right: 1px solid #383c3e
}

footer .footer-content .footer-logo {
	margin-bottom: 23px
}

footer .footer-content .footer-logo img {
	float: left;
	width: 55px;
	margin-right: 14px
}

footer .footer-content p {
	color: #fff;
	font-size: 12px;
	margin-top: 13px
}

footer .footer-content .links {
	display: block;
	color: #fff;
	font-weight: 700;
	margin: 10px 0
}

footer .footer-content p.copyright {
	font-size: 13px;
	margin-bottom: 28px
}

footer .footer-content p span {
	color: #fc5157
}

footer h4 {
	margin-bottom: 10px;
	margin-top: 20px
}

footer ul li {
	list-style: none;
	margin-bottom: 10px
}

footer h4,footer ul li,footer ul li a {
	color: #fff;
	font-size: 14px
}

footer ul li a:hover {
	color: #5ec2f2
}

.blog-footer ul li,.sponsor_list ul li,footer ul.social-links li {
	display: inline-block
}

footer ul.social-links li a {
	font-size: 17px;
	margin-right: 18px
}

.newsletter {
	background-color: #353d42;
	padding: 15px;
	margin-top: 14px
}

.newsletter .form-group {
	margin-bottom: 0
}

.newsletter #mc_embed_signup .form-control {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid #5f6e77;
	font-size: 12px;
	width: 100%;
}

.newsletter .btn {
	font-size: 12px
}
.newsletter #mc_embed_signup { 
	background: transparent;
}
#mc_embed_signup input.button { 
	background-color: #4cb8cd;
	font-size: 12px;
	border-radius: 0;
}
.bottom-footer {
	border-top: 1px solid #3c4042;
	margin-top: 20px;
	padding-top: 15px;
	color: #8a8a8a
}

.blog-footer a,.bottom-footer a {
	color: #fbba05;
	text-decoration: none
}

.sponsor {
	padding: 20px 0
}

.sponsor-title {
	display: inline-block;
	background-color: #1c3583;
	height: 103px;
	padding: 2px 20px;
	vertical-align: middle;
	color: #fbba05;
	width: 20%;
	position: relative;
	text-transform: uppercase
}

.sponsor-title:before {
	content: "";
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 20px solid #1c3583;
	display: block;
	position: absolute;
	top: 50%;
	right: -20px;
	margin-top: -50px
}

.sponsor-title h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 103px
}

.sponsor_list {
	display: inline-block;
	width: 79%;
	padding-left: 30px
}

.sponsor_list ul li {
	vertical-align: middle;
	width: 32%
}

.sponsor_list ul li a img {
	margin: 0 auto
}

.scrollToTop {
	background-color: #000;
	border-radius: 50%;
	bottom: 5px;
	color: #fff;
	cursor: pointer;
	display: none;
	height: 50px;
	position: fixed;
	right: 5px;
	text-align: center;
	width: 50px;
	z-index: 1005
}

.scrollToTop i {
	font-size: 24px;
	line-height: 50px
}

@media (max-width:767px) {
	.scrollToTop {
		background-color: rgba(0,0,0,.4);
		height: 40px;
		width: 40px
	}

	.scrollToTop i {
		font-size: 20px;
		line-height: 40px
	}
}

.innertitle {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px
}

.innertitle span,.teamInfo h4 {
	font-size: 15px;
	font-weight: 400
}

.breadcrumb {
	text-decoration: none!important;
	background-color: #333;
	color: #fff;
	padding: 3px 8px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	margin-bottom: 0
}

.breadcrumb::after {
	position: absolute;
	top: 10px;
	left: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #333
}

.breadcrumb:hover {
	color: #ccc
}

.circle-img {
	height: 245px;
	border-radius: 50%;
	shape-outside: circle();
	-webkit-shape-outside: circle()
}

.circle-img,.square-img {
	width: 250px;
	float: left;
	overflow: hidden;
	margin-right: 30px
}

.square-img-right {
	width: 250px;
	float: right;
	overflow: hidden;
	margin-left: 30px
}

#map {
	height: 300px
}

.contact_address ul li {
	display: block;
	position: relative
}

.contact_address ul li i {
	margin-right: 10px
}

.contact_address ul li b {
	width: 90px;
	display: inline-block
}

.contact_address ul li a {
	color: #333;
	text-decoration: none
}

.team {
	text-align: center;
	margin-bottom: 20px
}

.teamImg {
	/*width: 255px;
	height: 255px;
	overflow: hidden;
	*/margin-bottom: 10px
}

.teamInfo h3 {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 9px;
	
}

.teamInfo h4 {
	font-weight: 300;
	font-style: italic
}

.form-wrapper .innertitle {
	text-align: center;
	text-transform: uppercase
}

.contact_address ul li,.donation-address li {
	list-style: none;
	margin-bottom: 10px
}

.donation-address li b {
	width: 15%;
	display: inline-block
}

.donation-address li a {
	color: #333
}

.donation-form {
	border: 1px solid #ccc;
	padding: 20px
}

.donation-form label {
	width: 12%;
	display: inline-block
}

.donation-form .form-control {
	width: 86%;
	display: inline-block;
	margin-left: 16px
}
.side_block {

	border: 1px solid #f1f1f1;

	border-radius: 3px;

	-webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);

	-moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);

	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
}
.side_block h4{
	
	font-size: 17px;
	
	color: #f47920;
	
	padding: 15px;
	
	border-bottom: 1px solid #f1f1f1;
	
	font-weight: 600;
	
	letter-spacing: 0.5px;
} 
.side_block h4 i{
	
	margin-right: 10px;
}
.event_item {padding: 15px 15px 15px 64px;width: 100%;position: relative;font-size: 13px;border-bottom: 1px solid #f1f1f1;     cursor: pointer;}
.event_item span{  }
.event_item .event_img{
    position: absolute;
    top: 14px;
    left: 15px;
}
.event_item h5 a{color: #f68d20;font-size: 15px;display: block;margin-bottom: 3px; text-decoration: none;}
.event_item .date{display: block;color: #d0cdcd;font-size: 12px;}
.event_item .event_detail {display: table-cell;vertical-align: top;padding-left: 16px;}
.event_item .event_detail p {max-height: 45px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;     line-height: 20px;}
.event_item:hover {     -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2); }
.event_item:last-child { border-bottom: 0; }
